/* 
    Document   : slider.css
    Author     : jackh
    Description:
        Standard template.
*/

/* Import base css*/

@import url("../../scripts/slider_base.css");
/*----------------------------------*/

/*Slider related css*/

/*----------------------------------*/

.xpro-slider-nav-selected {
    background-color: transparent !important;
}

.xpro-thumb-item {
    background-image: url(../../scripts/images/bullet-l.png);
}

/*----------------------------------*/

/* Content related */

/*----------------------------------*/

.xp-layerblock {
    text-align: center;
    background-color: #cc0000;
    color: #ffffff;
    opacity: 0;
    border-radius: 0px;
    font-weight: 200;
}

.xp-layerblock-trans {
    text-align: center;
    border-radius: 0px;
    margin: auto !important;
    background-color: rgba(8, 8, 8, 0.7);
}

.xp-layerblock-round {
    text-align: center;
    color: #ffffff;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    /*box-shadow: 0px 10px 50px #000000;*/
    background-color: rgba(8, 8, 8, 0.7);
}

.xpro-slider-item a {
    color: #ffffff;
}

.xpro-slider-item a:hover {
    color: #ffffff;
}

.xp-headtext {
    color: #ffffff;
    text-shadow: 0px 10px 10px #000000;
}

.xp-text-shadow {
    text-shadow: 0px 10px 10px #000000;
}

.tomato-red {
    background-color: #cc0000 !important;
}

.carrot {
    background-color: #f8451c !important;
}

.cress-green {
    background-color: #128533 !important;
}

.vibrant-gold {
    background-color: #f2910f !important;
}

.snappy-orange {
    background-color: #fe5d11 !important;
}

/*----------------*/

.tortoise-orange {
    background-color: #d3771c !important;
}

.tortoise-yellow {
    background-color: #da9138 !important;
}

.tortoise-brown {
    background-color: #3a1d07 !important;
}

/*----------------*/

.hydra-mauve {
    background-color: rgb(185, 184, 217) !important;
}

.hydra-purple {
    background-color: rgb(164, 112, 168) !important;
}

.hydra-violet {
    background-color: rgb(128, 129, 176) !important;
}

.hydra-blue {
    background-color: rgb(143, 190, 218) !important;
}

/*----------------*/

.pilot-blue {
    background-color: rgb(40, 24, 119) !important;
}

.airman-blue {
    background-color: rgb(76, 102, 173) !important;
}

.flight-blue {
    background-color: rgb(130, 194, 220) !important;
}

/*----------------*/

.limestone-beige {
    background-color: rgb(239, 214, 179) !important;
}

.stalactite-beige {
    background-color: rgb(204, 191, 157) !important;
}

.stalactite-brown {
    background-color: rgb(162, 115, 51) !important;
}

.limestone-cave {
    background-color: rgb(83, 98, 110) !important;
}

/*----------------*/

.chasmere {
    background-color: rgb(235, 192, 147) !important;
}

.chasmere-beige {
    background-color: rgb(175, 134, 94) !important;
}

.chasmere-gray {
    background-color: rgb(204, 195, 185) !important;
}

.mellow-mauve {
    background-color: rgb(234, 191, 205) !important;
}

/*----------------*/

/* transparent    */

/*----------------*/

.pilot-blue-trans {
    background-color: rgba(40, 24, 119, 0.7) !important;
}

.airman-blue-trans {
    background-color: rgba(76, 102, 173, 0.7) !important;
}

.flight-blue-trans {
    background-color: rgba(130, 194, 220, 0.7) !important;
}

.cosmic-blue-trans {
    background-color: rgba(76, 127, 139, 0.7) !important;
}

/*----------------*/

.tomato-red-trans {
    background-color: rgba(204, 0, 0, 0.7) !important;
}

.carrot-trans {
    background-color: rgba(248, 69, 28, 0.7) !important;
}

.cress-green-trans {
    background-color: rgba(18, 133, 51, 0.7) !important;
}

.vibrant-gold-trans {
    background-color: rgba(242, 145, 15, 0.7) !important;
}

.snappy-orange-trans {
    background-color: rgba(254, 93, 17, 0.7) !important;
}

#madeHub header.glory-header { background-image: url(../images/glory-background.jpg); }
#madeHub .glory-header .middleground { background-image: url(../images/connections-glow-charts.png); top: 20px; }
#madeHub .glory-header .background { background-image: url(../images/parent-thru-clouds.png); background-position: center; }



#madeHub header.thalia-header { background-image: url(../images/thalia-background.jpg); }
#madeHub header.peter-header { background-image: url(../images/peter-background.jpg); }
#madeHub header.nataly-header { background-image: url(../images/nataly-background.jpg); }
#madeHub header.adriana-header { background-image: url(../images/adriana-background.jpg); }
#madeHub header.britney-header { background-image: url(../images/britney-background.jpg); }

#madeHub .middleground { top: -24px; background-position: center top; background-repeat: no-repeat; background-size: cover;  }
#madeHub .animate-middleground { transform: scale3d(1.1, 1.1, 1.1);opacity: 0.2; animation: scaler 1s ease-out;animation-fill-mode: forwards; }

#madeHub .thalia-header .middleground { background-image: url(../images/thalia-middleground.png); }
#madeHub .peter-header .middleground { background-image: url(../images/peter-middleground.png); }
#madeHub .nataly-header .middleground { background-image: url(../images/nataly-middleground.png); top: 20px; }
#madeHub .adriana-header .middleground { background-image: url(../images/adriana-middleground.png); background-size: auto; }
#madeHub .britney-header .middleground { background-image: url(../images/britney-middleground.png); }

#madeHub .background { background-position: 0; background-repeat: no-repeat; background-size: cover; }
#madeHub .animate-background { transform: scale3d(1.3, 1.3, 1.3); opacity: 0.1; animation: scaler 1.2s ease-out; animation-fill-mode: forwards; }


.slider_image_bg_image{
      background: url('../images/glory-background.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center 0;
      width: 100vw;
      padding-bottom: 1020px;
}
.slider_image_1{
      background: url('../images/owning_the_accounting_profession_glory.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center 0;
      width: 100vw;
      padding-bottom: 1020px;
}